<% function title() { %>
    自己紹介
<% } %>

<% function contents() { %>
    <section class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">自己紹介</h2>
            </div>

            <!-- プロフィール -->
            <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
                <div class="col">
                    <div class="card mb-12 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">プロフィール</h4>
                        </div>
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-md-2 mb-2">
                                <div class="col col-md-5 text-center">
                                    <img class="mx-auto rounded-circle" src="images/testIcon.png" alt="..." width="50%" height="auto"/><br>
                                    <h1>塩﨑 航太</h1>
                                </div>
                                
                                <div class="col col-md-7 text-start h6">
                                    <div class="row">
                                        <div class="py-1 d-flex align-items-center">
                                            <div class="card bg-primary col col-sm-4 py-2 text-center">
                                                性別
                                            </div>
                                            &nbsp;男性
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="py-1 d-flex align-items-center">
                                            <div class="card bg-primary col col-sm-4 py-2 text-center">
                                                誕生日
                                            </div>
                                            &nbsp;2002/02/09
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="py-1 d-flex align-items-center">
                                            <div class="card bg-primary col col-sm-4 py-2 text-center">
                                                現住所
                                            </div>
                                            &nbsp;千葉県印西市小倉台４－７－２０３
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="py-1 d-flex align-items-center">
                                            <div class="card bg-primary col col-sm-4 py-2 text-center">
                                                電話番号
                                            </div>
                                            &nbsp;0476-37-5458
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="py-1 d-flex align-items-center">
                                            <div class="card bg-primary col col-sm-4 py-2 text-center">
                                                携帯番号
                                            </div>
                                            &nbsp;070-1550-2929
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="py-1 d-flex align-items-center">
                                            <div class="card bg-primary col col-sm-4 py-2 text-center">
                                                Ｅメール
                                            </div>
                                            &nbsp;ksw2270274@stu.o-hara.ac.jp
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 自己ＰＲ -->
            <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
                <div class="col">
                    <div class="card mb-12 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">自己PR</h4>
                        </div>
                        <div class="card-body text-start">
                            <p class="dropcap">
                                私の強みは、継続と集中です。小学生の時にプログラミングに出会い、高校では学習を深めるために情報処理科に入り、現在まで継続して学習を進めております。現在は、専門学校で学習してきたことを復習するほか、習った言語を使って自分でアプリを制作しています。
                                体調管理にも自信があり、高校時代は皆勤賞を受賞できました。専門学校に入学してからも引き続き体調管理を心がけており、基本情報技術者受験のため一度休んだこと以外は皆勤です。基本情報技術者試験などの資格取得では、受験日までに合格基準を上回らなければならないため、短期間で集中的に取り組む力がつきました。現在も、物事に落ち着いて作業することができます。
                                社会に出た際には、継続と集中を活かし、責任感のある社員になることが、今の私の目標です。
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
                <!-- 長所・短所 -->
                <div class="col">
                    <div class="card mb-6 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">長所・短所</h4>
                        </div>
                        <div class="card-body text-start">
                            <p class="dropcap">
                                長所は、粘り強く最後まで取り組めることです。宿題や追加された問題などの出された課題に対して、早めに取り組むことができます。<br>
                                短所は、慌ててしまうことです。自分の想定していないことで生じてしまうので、自ら予想するなどの対処をしています。
                            </p>
                        </div>
                    </div>
                </div>

                <!-- 趣味・特技 -->
                <div class="col">
                    <div class="card mb-6 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">趣味・特技</h4>
                        </div>
                        <div class="card-body text-start">
                            <p class="dropcap">
                                自動販売機や、南京錠などの複雑な仕組みに興味があります。一から自作する人の動画を見て勉強することが好きです。また、専門学校のIoTの授業では、Raspberry Piを用いて画像認識や、LEDを用いた信号などの実装に挑戦しました。<br>
                                休日は学校の学習以外で、ゲーム制作をしています。現在はUnityというソフトを使い、3Dアクションゲームや、RPG、パズルゲームなどを制作しています。
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 資格 -->
            <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
                <div class="col">
                    <div class="card mb-12 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">資格</h4>
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h1>2019/01</h1>
                                </div>
                                <div class="col-8 text-start">
                                    公益財団法人全国商業高等学校協会主催
                                    <h2>プログラミング検定試験 2級</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h1>2019/02</h1>
                                </div>
                                <div class="col-8 text-start">
                                    日本情報処理検定協会主催
                                    <h2>ホームページ作成検定試験 1級</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h1>2019/07</h1>
                                </div>
                                <div class="col-8 text-start">
                                    日本情報処理検定協会主催
                                    <h2>文書デザイン検定試験 1級</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h1>2019/09</h1>
                                </div>
                                <div class="col-8 text-start">
                                    公益財団法人全国商業高等学校協会主催
                                    <h2>情報処理検定試験 1級</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h1>2019/12</h1>
                                </div>
                                <div class="col-8 text-start">
                                    日本情報処理検定協会主催
                                    <h2>プレゼンテーション作成検定試験 1級</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h1>2022/05</h1>
                                </div>
                                <div class="col-8 text-start">
                                    IPA（情報処理推進機構）主催
                                    <h2>基本情報技術者試験</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <button class="btn btn-primary">
        サンプル
    </button>
    <button class="btn btn-success">
        サンプル
    </button>
    <button class="btn btn-warning">
        サンプル
    </button>
    <button class="btn btn-danger">
        サンプル
    </button> -->
<% } %>

<% function modals() { %>

<% } %>

<% if (part === "title") { %>
    <% title(); %>
<% } else if (part === "contents") { %>
    <% contents(); %>
<% } else if (part === "modals") { %>
    <% modals(); %>
<% } %>