<% function title() { %>
    自己紹介
<% } %>

<% function contents() { %>
    <section>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
    </section>

    <button class="btn btn-primary">
        サンプル
    </button>
    <button class="btn btn-success">
        サンプル
    </button>
    <button class="btn btn-warning">
        サンプル
    </button>
    <button class="btn btn-danger">
        サンプル
    </button>
<% } %>

<% function modals() { %>

<% } %>

<% if (part === "title") { %>
    <% title(); %>
<% } else if (part === "contents") { %>
    <% contents(); %>
<% } else if (part === "modals") { %>
    <% modals(); %>
<% } %>