<% function title() { %>
    希望職種
<% } %>

<% function contents() { %>
    <section class="page-section bg-light">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">希望職種</h2>
                <h3 class="section-subheading text-muted">私が希望しているＩＴ関連の職種をご紹介します。</h3>
            </div>
            <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
                <div class="col">
                    <div class="card mb-12 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">プログラマー</h4>
                        </div>
                        <div class="card-body text-start">
                            <p>
                                Insert content here
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
                <div class="col">
                    <div class="card mb-12 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">選んだ理由</h4>
                        </div>
                        <div class="card-body text-start">
                            <p>
                                Insert content here
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% } %>

<% function modals() { %>

<% } %>

<% if (part === "title") { %>
    <% title(); %>
<% } else if (part === "contents") { %>
    <% contents(); %>
<% } else if (part === "modals") { %>
    <% modals(); %>
<% } %>