<% function title() { %>
    希望職種
<% } %>

<% function contents() { %>
    <section class="page-section">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">希望職種</h2>
                <h3 class="section-subheading text-muted">私が希望しているＩＴ関連の職種をご紹介します。</h3>
            </div>
            <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
                <div class="col">
                    <div class="card mb-12 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">プログラマー</h4>
                        </div>
                        <div class="card-body text-start">
                            <p class="dropcap">
                                コンピューターを動かす「プログラミング言語」を用いて、さまざまなシステムやソフトウェアを作る仕事です。プログラマーが作成するシステムやソフトウェアは、さまざまな場所で使われています。例えば、物流システムや金融システムといったような企業が使用するもののほか、テレビやスマートフォン、電子レンジなど、身の回りのあらゆるところにプログラムが活用されています。一般的には、システムエンジニアがシステムの仕様書を作成し、それに基づいてプログラマーがプログラミングを行います。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
                <div class="col">
                    <div class="card mb-12 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">選んだ理由</h4>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 mb-2 card-body text-start">
                            <div class="col col-md-9">
                                <p class="dropcap">
                                    幼少期からものづくりや、パソコンに興味を持ちました。小学生の時に見つけた「Scratch」を体験して、ブロックの組み合わせにより、画面の表示内容が変化する事に面白さを感じ、夢中になりました。そこからはのめり込むように学習を継続しています。<br>
                                    社会人になってから、顧客の手助けになるような機能を生み出したいと考えています。例を挙げると、認証のような複雑な機能や、世の中の不便な所の解消などです。同時に最先端の技術に触れ、新しい能力を身につけたいです。
                                </p>
                            </div>
                            <div class="col col-md-3">
                                <img src="images/Scratchの体験.png" width="100%" height="auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% } %>

<% function modals() { %>

<% } %>

<% if (part === "title") { %>
    <% title(); %>
<% } else if (part === "contents") { %>
    <% contents(); %>
<% } else if (part === "modals") { %>
    <% modals(); %>
<% } %>