<% function title() { %>
    自己紹介
<% } %>

<% function contents() { %>
    <section>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
        ほげぴよほげぴよほげぴよ<br>
    </section>
<% } %>

<% function modals() { %>

<% } %>

<% if (part === "title") { %>
    <% title(); %>
<% } else if (part === "contents") { %>
    <% contents(); %>
<% } else if (part === "modals") { %>
    <% modals(); %>
<% } %>