@charset "utf-8";

#num1,
#num2,
#num3 {
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  float: left;
}
#bonus {
  width: 9em;
  text-align: center;
}
form {
  text-align: center;
}
#sBtn {
  width: 8em;
}
.lucky-seven {
  color: #f00;
}
