<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <h2>2020 Build</h2>
    <ul>
        <li>
            <a href="./whack-a-mole">モグラたたき</a>
        </li>
        <li>
            <a href="./slot">スロットマシン</a>
        </li>
        <li>
            <a href="https://myshopping-shiozaki.herokuapp.com/">MyShop（ＥＣサイト）</a>
        </li>
    </ul>

    <h2>2021 Build</h2>
    <ul>
        <li>
            <a href="#">MyBlog（ブログサイト）</a>
        </li>
        <li>
            <a href="#">Bulletin Board（掲示板サイト）</a>
        </li>
        <li>
            <a href="#">Travel to Freedom（グループ開発、旅行計画自動作成サイト）</a>
        </li>
    </ul>
    
    <h2>2022 Build</h2>
    <ul>
        <li>
            <a href="https://private-diary-for-express.herokuapp.com/">Djangoの日記アプリをExpressに移植</a>
        </li>
        <li>
            <a href="#">Hexagon Puzzle（Unity WebGL）</a>
        </li>
    </ul>
</body>
</html>